<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">显示最新上传的20张图片</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <% @image_list.each do |img| %>
            <div class="col-xs-6 col-sm-4 col-md-2">
              <a href="#" class="choose-image thumbnail" data-title="<%= img.url_content %>" data-dismiss="modal">
                <img src="<%= img.url_content %>" title="<%= img.url_content %>" />
              </a>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
  $(document).on("click", ".choose-image", function () {
    var image_path = $(this).data('title');
    $("#image_path").val(image_path);
  });
</script>
