<%= render file: 'public/templetes/default/_header.html' %>

<div class="lined-container">
	<div class="container">
		<ul id="portfolio-filter" class="fullwidth-navigation">
			<li class="active">
				<a href="#" data-hover="all" data-group="all">All</a>
			</li>
			<li>
				<a href="#" data-hover="Photography" data-group="photography">Photography</a>
			</li>
			<li>
				<a href="#" data-hover="Nature" data-group="nature">Nature</a>
			</li>
			<li>
				<a href="#" data-hover="Architecture" data-group="architecture">Architecture</a>
			</li>
			<li>
				<a href="#" data-hover="People" data-group="people">People</a>
			</li>
		</ul>
	</div>
</div>


<div class="container">
	<div id="grid" class="row shuffle--animatein shuffle--container shuffle--fluid">

		<a href="portfolio-single.html" class="col-xs-6 col-sm-4 picture-item" 
				data-groups='["photography"]' title="Some item title">
			<div class="picture-wrapper">
				<img src="/templetes/default/images/portfolio/photo_1.jpg" class="retina">
			</div>
		</a>
		
		<a href="portfolio-single.html" class="col-xs-6 col-sm-4 picture-item" 
				data-groups='["architecture"]' title="Some item title">
			<div class="picture-wrapper">
				<img src="/templetes/default/images/portfolio/architecture_1.jpg" class="retina">
			</div>
		</a>

		<a href="portfolio-single.html" class="col-xs-6 col-sm-4 picture-item" 
				data-groups='["people"]' title="Some item title">
			<div class="picture-wrapper">
				<img src="/templetes/default/images/portfolio/people_1.jpg" class="retina">
			</div>
		</a>

		<a href="portfolio-single.html" class="col-xs-6 col-sm-4 picture-item" 
				data-groups='["photography"]' title="Some item title">
			<div class="picture-wrapper">
				<img src="/templetes/default/images/portfolio/photo_2.jpg" class="retina">
			</div>
		</a>

		<a href="portfolio-single.html" class="col-xs-6 col-sm-4 picture-item" 
				data-groups='["architecture"]' title="Some item title">
			<div class="picture-wrapper">
				<img src="/templetes/default/images/portfolio/architecture_2.jpg" class="retina">
			</div>
		</a>

		<a href="portfolio-single.html" class="col-xs-6 col-sm-4 picture-item" 
				data-groups='["photography"]' title="Some item title">
			<div class="picture-wrapper">
				<img src="/templetes/default/images/portfolio/photo_3.jpg" class="retina">
			</div>
		</a>

		<a href="portfolio-single.html" class="col-xs-6 col-sm-4 picture-item" 
				data-groups='["people"]' title="Some item title">
			<div class="picture-wrapper">
				<img src="/templetes/default/images/portfolio/people_2.jpg" class="retina">
			</div>
		</a>

		<a href="portfolio-single.html" class="col-xs-6 col-sm-4 picture-item" 
				data-groups='["nature"]' title="Some item title">
			<div class="picture-wrapper">
				<img src="/templetes/default/images/portfolio/nature_1.jpg" class="retina">
			</div>
		</a>

		<a href="portfolio-single.html" class="col-xs-6 col-sm-4 picture-item" 
				data-groups='["people"]' title="Some item title">
			<div class="picture-wrapper">
				<img src="/templetes/default/images/portfolio/people_3.jpg" class="retina">
			</div>
		</a>

		<a href="portfolio-single.html" class="col-xs-6 col-sm-4 picture-item" 
				data-groups='["photography"]' title="Some item title">
			<div class="picture-wrapper">
				<img src="/templetes/default/images/portfolio/photo_4.jpg" class="retina">
			</div>
		</a>

		<a href="portfolio-single.html" class="col-xs-6 col-sm-4 picture-item" 
				data-groups='["people"]' title="Some item title">
			<div class="picture-wrapper">
				<img src="/templetes/default/images/portfolio/people_4.jpg" class="retina">
			</div>
		</a>

		<a href="portfolio-single.html" class="col-xs-6 col-sm-4 picture-item" 
				data-groups='["architecture"]' title="Some item title">
			<div class="picture-wrapper">
				<img src="/templetes/default/images/portfolio/architecture_3.jpg" class="retina">
			</div>
		</a>

		<a href="portfolio-single.html" class="col-xs-6 col-sm-4 picture-item" 
				data-groups='["photography"]' title="Some item title">
			<div class="picture-wrapper">
				<img src="/templetes/default/images/portfolio/photo_5.jpg" class="retina">
			</div>
		</a>

		<a href="portfolio-single.html" class="col-xs-6 col-sm-4 picture-item" 
				data-groups='["nature"]' title="Some item title">
			<div class="picture-wrapper">
				<img src="/templetes/default/images/portfolio/nature_2.jpg" class="retina">
			</div>
		</a>

		<a href="portfolio-single.html" class="col-xs-6 col-sm-4 picture-item" 
				data-groups='["people"]' title="Some item title">
			<div class="picture-wrapper">
				<img src="/templetes/default/images/portfolio/people_5.jpg" class="retina">
			</div>
		</a>

		<a href="portfolio-single.html" class="col-xs-6 col-sm-4 picture-item" 
				data-groups='["architecture"]' title="Some item title">
			<div class="picture-wrapper">
				<img src="/templetes/default/images/portfolio/architecture_5.jpg" class="retina">
			</div>
		</a>

		<a href="portfolio-single.html" class="col-xs-6 col-sm-4 picture-item" 
				data-groups='["photography"]' title="Some item title">
			<div class="picture-wrapper">
				<img src="/templetes/default/images/portfolio/photo_6.jpg" class="retina">
			</div>
		</a>

		<a href="portfolio-single.html" class="col-xs-6 col-sm-4 picture-item" 
				data-groups='["architecture"]' title="Some item title">
			<div class="picture-wrapper">
				<img src="/templetes/default/images/portfolio/architecture_4.jpg" class="retina">
			</div>
		</a>

		<a href="portfolio-single.html" class="col-xs-6 col-sm-4 picture-item" 
				data-groups='["nature"]' title="Some item title">
			<div class="picture-wrapper">
				<img src="/templetes/default/images/portfolio/nature_3.jpg" class="retina">
			</div>
		</a>

		<a href="portfolio-single.html" class="col-xs-6 col-sm-4 picture-item" 
				data-groups='["people"]' title="Some item title">
			<div class="picture-wrapper">
				<img src="/templetes/default/images/portfolio/people_6.jpg" class="retina">
			</div>
		</a>

		<a href="portfolio-single.html" class="col-xs-6 col-sm-4 picture-item" 
				data-groups='["nature"]' title="Some item title">
			<div class="picture-wrapper">
				<img src="/templetes/default/images/portfolio/nature_4.jpg" class="retina">
			</div>
		</a>

		<a href="portfolio-single.html" class="col-xs-6 col-sm-4 picture-item" 
				data-groups='["nature"]' title="Some item title">
			<div class="picture-wrapper">
				<img src="/templetes/default/images/portfolio/nature_5.jpg" class="retina">
			</div>
		</a>

		<a href="portfolio-single.html" class="col-xs-6 col-sm-4 picture-item" 
				data-groups='["people"]' title="Some item title">
			<div class="picture-wrapper">
				<img src="/templetes/default/images/portfolio/people_7.jpg" class="retina">
			</div>
		</a>

		<a href="portfolio-single.html" class="col-xs-6 col-sm-4 picture-item" 
				data-groups='["nature"]' title="Some item title">
			<div class="picture-wrapper">
				<img src="/templetes/default/images/portfolio/nature_6.jpg" class="retina">
			</div>
		</a>

		<a href="portfolio-single.html" class="col-xs-6 col-sm-4 picture-item" 
				data-groups='["people"]' title="Some item title">
			<div class="picture-wrapper">
				<img src="/templetes/default/images/portfolio/people_8.jpg" class="retina">
			</div>
		</a>

		<a href="portfolio-single.html" class="col-xs-6 col-sm-4 picture-item" 
				data-groups='["nature"]' title="Some item title">
			<div class="picture-wrapper">
				<img src="/templetes/default/images/portfolio/nature_7.jpg" class="retina">
			</div>
		</a>
		
		<!-- shuffle__sizer determines the size of all the thumbnails. Change it's classes if you want different columns. For example, get rid of .col-xs-6 class to make all the thumbnails full-width for mobile. Clases on thumbnals itself are added just for disabled-javascript callback. -->
		<div class="col-xs-6 col-sm-4 m-span3 shuffle__sizer"></div>
	</div>
</div>

<%= render file: 'public/templetes/default/_footer.html' %>
