<%= render file: 'public/templetes/default/_header.html' %>

<div class="lined-container">
	<div class="container">

		<div class="row">

			<div class="col-lg-offset-1 col-sm-12 col-lg-9">
				<h1 class="item-title">
					Lorem ipsum
					<small>Sir amet orem nonis mariar</small>
				</h1>
				<div id="carousel-example-generic" class="carousel slide">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
				  </ol>

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner">
				    <div class="item active">
				      <img src="placeholders/blog/blog1.png" alt="...">
				    </div>
				    <div class="item">
				      <img src="placeholders/blog/blog2.png" alt="...">
				    </div>
				  </div>

				  <!-- Controls -->
				  <a class="carousel-control left" href="#carousel-example-generic" data-slide="prev">
				    <span class="icon-prev"></span>
				  </a>
				  <a class="carousel-control right" href="#carousel-example-generic" data-slide="next">
				    <span class="icon-next"></span>
				  </a>
				</div>

				<div class="row project-meta">
					<div class="col-sm-4 text-center">
						<div class="left">
							<h3>Who created that?</h3>
							<p>John Doe</p>
						</div>
					</div>

					<div class="col-sm-4 text-center">
						<div class="middle">
							<h3>See it in action</h3>
							<a href="#">View project</a>
						</div>
					</div>

					<div class="col-sm-4 text-center">
						<div class="right">
							<h3>Share</h3>
							<ul class="social inline">
								<li><a href="#"><i class="fc-webicon googleplus"></i></a></li>
								<li><a href="#"><i class="fc-webicon facebook"></i></a></li>
								<li><a href="#"><i class="fc-webicon twitter"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="row">
					<p class="lead col-sm-10 col-sm-offset-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, magnam, veniam, earum fuga vel quam vero explicabo omnis ipsum natus.</p>
					<p class="col-sm-10 col-sm-offset-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, repudiandae, neque, possimus et suscipit officiis inventore dolores odit debitis assumenda eius ipsum reiciendis sit illum vitae pariatur tempore repellendus dolor dicta iste. Pariatur, magni, deleniti ipsum nostrum voluptatibus expedita voluptatum laudantium reiciendis eligendi modi alias recusandae dignissimos sapiente nulla accusamus deserunt veniam incidunt nemo architecto sequi corporis iste ex perferendis numquam cupiditate eaque dolores a? Ullam, sit, saepe, quaerat, mollitia maxime animi quas adipisci harum minus totam temporibus soluta similique aliquam et officia. Ut, ab, repudiandae quod maiores necessitatibus asperiores labore voluptate assumenda consequatur ipsa ullam dicta velit! Corporis, dolore?</p>
				</div>

			</div>

		</div>

	</div>
</div>
<%= render file: 'public/templetes/default/_footer.html' %>
