
    <!-- starts footer -->
    <footer id="footer">
        <div class="container">
            <div class="row sections">
                <div class="span4 recent_posts">
                    <h3 class="footer_header">
                        推荐阅读
                    </h3>
                    <% Admin::Page.recent(2, :properties => 'c') do |page| %>
                        <div class="post">
                            <a href="<%= get_url(page) %>">
                              <img src="<%= page.image_path %>" class="img-circle" style="max-width: 300px; max-height: 200px;" />
                            </a>
                            <div class="date">
                               <%= page.format_date %>
                            </div>
                            <a href="blogpost.html" class="title">
                               <%= page.title %>
                            </a>
                        </div>
                    <% end %>
                </div>
                <div class="span4 testimonials">
                    <h3 class="footer_header">
                        服务承诺
                    </h3>
                    <div class="wrapper">
                        <div class="quote">
                            <span>“</span>
                            瑞信云为企业提供完整的移动应用开发和管理集成。建设APP从未如此简单； 一次建设，即可生成基于苹果、安卓、HTML5 Web APP手机应用和强大的管理后台。
                            <span>”</span>
                        </div>
                        <div class="author">
                            <img src="/templetes/rxy123/img/user-display.png" />
                            <div class="name">瑞信云咨询.小宋</div>
                            <div class="info">
                              +86 185 8327 5189
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span4 contact">
                    <h3 class="footer_header">
                      联系我们
                    </h3>
                    <form action="#" method="post">
                        <input type="text" placeholder="你的姓名" />
                        <input type="text" placeholder="手机号码" />
                        <textarea rows="3" placeholder="留言内容"></textarea>
                        <input type="submit" value="提交" />
                    </form>
                </div>
            </div>
            <div class="row credits">
                <div class="span12">
                    <div class="row social">
                        <div class="span12">
                            <a href="#" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                            <a href="#" class="twitter">
                                <span class="socialicons ico2"></span>
                                <span class="socialicons_h ico2h"></span>
                            </a>
                            <a href="#" class="gplus">
                                <span class="socialicons ico3"></span>
                                <span class="socialicons_h ico3h"></span>
                            </a>
                            <a href="#" class="flickr">
                                <span class="socialicons ico4"></span>
                                <span class="socialicons_h ico4h"></span>
                            </a>
                            <a href="#" class="pinterest">
                                <span class="socialicons ico5"></span>
                                <span class="socialicons_h ico5h"></span>
                            </a>
                            <a href="#" class="dribble">
                                <span class="socialicons ico6"></span>
                                <span class="socialicons_h ico6h"></span>
                            </a>
                            <a href="#" class="behance">
                                <span class="socialicons ico7"></span>
                                <span class="socialicons_h ico7h"></span>
                            </a>
                        </div>
                    </div>
                    <div class="row copyright">
                        <div class="span12">
                             2013 瑞信云. All rights reserved.
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </footer>
    