
    <!-- global Styles -->
    <link href="/templetes/rxy123/css/bootstrap.min.css" rel="stylesheet">
    <link href="/templetes/rxy123/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/templetes/rxy123/css/bootstrap-overrides.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/templetes/rxy123/css/theme.css">
    <!-- index Styles -->
    <link rel="stylesheet" href="/templetes/rxy123/css/index.css" type="text/css" media="screen" />
    <!-- app service Styles -->
    <link rel="stylesheet" href="/templetes/rxy123/css/pricing.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/templetes/rxy123/css/services.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/templetes/rxy123/css/features.css" type="text/css" media="screen" />
    <!-- blog Styles -->
    <link rel="stylesheet" href="/templetes/rxy123/css/blog.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/templetes/rxy123/css/blogpost.css" type="text/css" media="screen" />
    <!-- about Styles -->
    <link rel="stylesheet" href="/templetes/rxy123/css/about.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/templetes/rxy123/css/contact.css" type="text/css" media="screen" />
     <!-- case Styles -->
    <link rel="stylesheet" href="/templetes/rxy123/css/case.css" type="text/css" media="screen" />
    <!-- portfolio Styles -->
    <link rel="stylesheet" type="text/css" href="/templetes/rxy123/css/portfolio.css">
    <link rel="stylesheet" type="text/css" href="/templetes/rxy123/css/lib/isotope.css">
     <!-- common Styles -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/templetes/rxy123/css/lib/animate.css" media="screen, projection">
    <!-- portfolio item Styles -->
    <link rel="stylesheet" href="/templetes/rxy123/css/portfolio-item.css" type="text/css" media="screen" />
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- app123 -->
    <script type="text/javascript">
      var mobileUrl="http://m.rxy123.com/657", mobile = (/mmp|symbian|smartphone|midp|wap|phone|xoom|iphone|ipad|ipod|android|blackberry|mini|windows\sce|palm/i.test(navigator.userAgent.toLowerCase()));
      if (mobile) {
         window.location = mobileUrl;
      }
    </script>


    <% if ['index', 'weixin'].include? @channel.short_title %>
        <style type="text/css">
          .pull_body{padding-top: 0px !important;}
        </style>
    <% end %>
    
    <% if @channel.short_title == 'portfolio' %>
      <link href="http://www.apps123.cn/templets/apps123/css/layout2013.css" rel="stylesheet" media="screen" type="text/css" />
      <style>
        .case-detail-pic{
          width: 90px;
          height: 90px;
        }
        #c_img{
          width: 90px;
          height: 90px;
        }
        .photo img{
          width: 100px;
          height: 100px;
        }
      </style>
    <% end %>