<div class="span3 sidebar offset1">
    <div class="box center">
      <img src="/templetes/rxy123/img/qrcode_for_website.jpg" /><br>
      扫一扫，更多精彩在手机！
      <img src="/templetes/rxy123/img/qrcode_for_wx_dingyuehao.jpg"/><br>
      扫一扫，更多精彩在微信！
    </div>
    
    <div class="box box2">
        <div class="sidebar_header">
            <h4>最近发生...</h4>
        </div>
        <% Admin::Page.recent(5, typo: 'article', channel: 'blog').each do |page| %>
            <div class="recent">
                <span>
                    <img src="<%= page.image_path %>" alt="<%= page.title %>">
                </span>
                <p><%=link_to page.title, get_url(page) %></p>
            </div>
        <% end %>
    </div>

<!--     <div class="box">
        <div class="sidebar_header">
            <h4>Popular photos</h4>
        </div>
        <ul class="recent_photos">
            <li>
                <a href="#"><img src="img/recent_photos.jpg"></a></li>
            <li>
                <a href="#"><img src="img/recent_photos.jpg"></a></li>
            <li>
                <a href="#"><img src="img/recent_photos.jpg"></a></li>
            <li>
                <a href="#"><img src="img/recent_photos.jpg"></a></li>
            <li>
                <a href="#"><img src="img/recent_photos.jpg"></a></li>
            <li>
                <a href="#"><img src="img/recent_photos.jpg"></a></li>
            <li>
                <a href="#"><img src="img/recent_photos.jpg"></a></li>
            <li>
                <a href="#"><img src="img/recent_photos.jpg"></a></li>
            <li>
                <a href="#"><img src="img/recent_photos.jpg"></a></li>
        </ul>
    </div>

    <div class="box last">
        <div class="sidebar_header">
            <h4>Archives</h4>
        </div>

        <ul class="sidebar_menu">
            <ul>
                <li><a href="#">January 2012</a></li>
                <li><a href="#">May 2012</a></li>
                <li><a href="#">August 2011</a></li>
                <li><a href="#">October 2011</a></li>
            </ul>
        </ul>
    </div> -->
</div>