                  
<%= render file: 'public/templetes/rxy123/_header.html' %>
<div id="blog_post">
<div class="container">
    <div class="section_header">
        
    </div>
   
    <div class="row">
        <div class="span8">
            <h1><%= @page.title %></h1><hr/>
            <img class="post_pic" src="<%= @page.image_path %>" />

            <div class="post_content">
                <%= raw @page.content %>

                <div class="author_box">
                    <div class="author"><%= @page.keywords %></div>
                    <div class="area">瑞信云(Rxy123.com)</div>
                </div>
            </div>

<!-- Duoshuo Comment BEGIN -->
	<div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"rxy123"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = 'http://static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		|| document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- Duoshuo Comment END -->
            
        </div>
        
        <!-- SideBar -->
        <%= render file: 'public/templetes/rxy123/_sidebar.html' %>
    </div>
</div>
<%= render file: 'public/templetes/rxy123/_footer.html' %>

    
    
    