
    <%= render file: 'public/templetes/rxy123/_header.html' %>

    <div id="portfolio">
        <div class="container">
            <div class="section_header">
                <h3><%= @channel.title %></h3>
            </div>
            <div class="row">
                <div class="span12">
                    <div id="filters_container">
                        <ul id="filters">
                            <li><a href="#" data-filter="*" class="active">All</a></li>
                            <li class="separator">/</li>
                            <li><a href="#" data-filter=".art">Art</a></li>
                            <li class="separator">/</li>
                            <li><a href="#" data-filter=".ilustration">Illustration</a></li>
                            <li class="separator">/</li>
                            <li><a href="#" data-filter=".print">Print</a></li>
                            <li class="separator">/</li>
                            <li><a href="#" data-filter=".web">Web</a></li>
                        </ul>
                    </div>
                </div>
            </div>            
            <div class="row">
                <div class="span12">
                    <div id="gallery_container">
                        <% @pages.each do |page| %>
                        <div class="photo art web">
                            <img src="<%= page.image_path %>" />
                            <a href="<%= get_url(page)%>" class="mask">
                                <h3>>%= page.title %?</h3>
                                <small><%= page.keywords %></small>
                                <div class="more">+</div>
                            </a>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>            
        </div>
    </div>

    <%= render file: 'public/templetes/rxy123/_footer.html' %>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/templetes/rxy123/js/bootstrap.min.js"></script>
    <script src="/templetes/rxy123/js/theme.js"></script>
    <script src="/templetes/rxy123/js/jquery.isotope.min.js"></script>

    <script type="text/javascript">
        $(function(){

            var $container = $('#gallery_container'),
                  $filters = $("#filters a");
        
            $container.imagesLoaded( function(){
                $container.isotope({
                    itemSelector : '.photo',
                    masonry: {
                        columnWidth: 102
                    }
                });
            });

            // filter items when filter link is clicked
            $filters.click(function() {
                $filters.removeClass("active");
                $(this).addClass("active");
                var selector = $(this).data('filter');
                $container.isotope({ filter: selector });
                return false;
            });
        
        
        });
    </script>
