
    <%= render file: 'public/templetes/rxy123/_header.html' %>
    <div id="blog">
        <div class="container">
            <div class="section_header">
                <h3><%= @channel.title %></h3>

                <input type="text" class="input-large search-query" placeholder="搜索">
            </div>
            <% get_slice_pages(@pages, 3).each do |slice_pages| %>
                <!-- Post Row -->
                <div class="row post_row">
                    <% slice_pages.each do |page| %>
                        <!-- Post -->
                        <div class="span4 post">
                            <div class="img">
                                <a href="<%= get_url(page) %>">
                                    <img src="<%= page.image_path %>" alt="<%= page.keywords %>">
                                </a>
                            </div>
                            <div class="text">
                                <h5><a href="<%= get_url(page) %>"><%= page.title %></a></h5>
                                <span class="date"><%= page.format_date %></span>
                                <p><%= page.short_description(20) %></p>
                            </div>
                            <div class="author_box">
                                <h6><%= page.keywords %></h6>
                            </div>
                            <a class="plus_wrapper" href="<%= get_url(page) %>">
                                <span>&#43;</span>
                            </a>
                        </div>
                    <% end %>
                </div>
            <% end %>
           
            <%= will_paginate @pages %>
        </div>
    </div>

    <%= render file: 'public/templetes/rxy123/_footer.html' %>
