
    <%= render file: 'public/templetes/rxy123/_header.html' %>
    <%= render file: 'public/templetes/rxy123/_slider.html' %>

    <div id="showcase">
        <div class="container">
            <div class="section_header">
                <!-- <h3>服务项目</h3> -->
            </div>            
            <div class="row feature_wrapper">
                <!-- Features Row -->
                <div class="features_op1_row">
                    <!-- Feature -->
                    <div class="span4 feature first">
                        <div class="img_box">
                            <a href="/tuoguan">
                                <img src="/templetes/rxy123/img/service1.png">
                                <span class="circle"> 
                                    <span class="plus">&#43;</span>
                                </span>
                            </a>
                        </div>
                        <div class="text">
                            <h6>网络营销整合托管服务</h6>
                            <p>
                                瑞信云为企业提供移动互联网产品开发、推广、营销、维护一体化整合托管服务，为企业提供网络营销顾问服务，让企业真正走向互联网.
                            </p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="span4 feature">
                        <div class="img_box">
                            <a href="/app">
                                <img src="/templetes/rxy123/img/service2.png">
                                <span class="circle"> 
                                    <span class="plus">&#43;</span>
                                </span>
                            </a>
                        </div>
                        <div class="text">
                            <h6>企业手机APP、微信开发</h6>
                            <p>
                                瑞信云为企业提供安卓APP、苹果APP以及微信公共平台微网站建设服务，低廉的开发成本，帮助企业走向移动互联网的未来.
                            </p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="span4 feature last">
                        <div class="img_box">
                            <a href="/raincms">
                                <img src="/templetes/rxy123/img/service3.png">
                                <span class="circle"> 
                                    <span class="plus">&#43;</span>
                                </span>
                            </a>
                        </div>
                        <div class="text">
                            <h6>企业营销型网站建设</h6>
                            <p>
                                通过移动互联网优先的开发理念，为您量身定制企业营销型网站，一次开发，多终端适配，一次投入，长期受益.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="features">
        <div class="container">
            <div class="section_header">
                <h3>手机网站如何帮助企业营销？</h3>
            </div> 
            <div class="row feature">
                <div class="span6">
                    <img src="/templetes/rxy123/img/showcase1.png" />
                </div>
                <div class="span6 info">
                    <h3>
                        <img src="/templetes/rxy123/img/features-ico1.png" />
                        电脑网站与手机网站的不同
                    </h3>
                    <p>
                        电脑网站适用于桌面电脑终端浏览，如果用手机浏览电脑网站，因手机的屏幕尺寸和CPU处理能力有限，将大大影响用户的浏览体验。手机网站专门为手机浏览需求设计，是手机浏览企业网站的最佳选择。
                    </p>
                </div>
            </div>
            <div class="row feature ss">
                <div class="span6 info">
                    <h3>
                        <img src="/templetes/rxy123/img/features-ico2.png" />
                       企业形象新名片
                    </h3>
                    <p>
                        手机网站提供商可为企业提供网站二维码，如果印在名片上，客户无需输入网址，扫一扫即可打开网站。放在产品手册上、宣传资料上，提供了一个全新的方便客户了解企业的入口。
                    </p>
                </div>
                <div class="span6">
                    <img src="/templetes/rxy123/img/showcase2.png" class="pull-right" />
                </div>
            </div>
            <div class="row feature ss">
                <div class="span6">
                    <img src="/templetes/rxy123/img/showcase3.png" />
                </div>
                <div class="span6 info">
                    <h3>
                        <img src="/templetes/rxy123/img/features-ico3.png" />
                        社交网络推广一个都不能少
                    </h3>
                    <p>
                       利用微信公共平台,微博，以及短信、彩信等方式推送有手机网址的信息，让更多的人访问你的企业。参与社交网络的内容贡献，让企业真正拥有粉丝。
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="clients">
        <div class="container">
            <div class="section_header">
                <h3>我们的客户</h3>
            </div>
            <div class="row">
                <div class="span2 client">
                    <a href="http://www.zxjj99.com" target="_blank"><div class="img client1"></div></a>
                </div>
                <div class="span2 client">
                    <a href="http://www.mesbo.cn" target="_blank"><div class="img client2"></div></a>
                </div>
                <div class="span2 client">
                    <a href="http://www.sunon-dcj.com" target="_blank"><div class="img client3"></div></a>
                </div>
                <div class="span2 client">
                    <div class="img client4"></div>
                </div>
                <div class="span2 client">
                    <div class="img client5"></div>
                </div>
                <div class="span2 client">
                    <div class="img client6"></div>
                </div>
            </div>
        </div>
    </div>

    <%= render file: 'public/templetes/rxy123/_footer_index.html' %>

    
