// Place all the styles related to the admin/home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#admin_help{
  
}

#admin_help h2{
  color: red;
  padding: 20px;
  margin: 10px 0px;
  background: #eee;
}

#admin_help .list{
  
}