// Place all the styles related to the admin/pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal-ul{
  margin: 4px;
}
.modal-ul li{
  float: left;
  margin: 4px;
  border: solid 1px;
}
.choose-image img{
  max-width: 100px;
  max-height: 60px;
}