
<%= render file: 'public/templetes/angel/_header.html' %>

<div class="light-container">
	<div class="container">

		<div class="row">

			<div class="posts-list col-sm-10 col-lg-10">

				<% @pages.each do |page| %>
					<div class="blog-post">
						<div class="post-featured-image top">
							<img src="<%= page.image_path %>" alt="<%= page.title %>" class="retina">
						</div>
						<h2 class="post-title"><%= page.title %></h2>
						<p>
							<%= page.short_description(200) %>
						</p>
						<a href="<%= get_url(page) %>" class="btn btn-primary">查看原文</a>
					</div>
				<% end %>
			
				<%= will_paginate @pages %>

			</div>

			<div class="col-lg-2 col-sm-2">
				<div class="sidebar">
					<ul>
						<legend>使用教程</legend>
						<% Admin::Page.recent(5, :typo => 'article', :channel => 'tutorials').each do |page| %>
							<li><a href="<%=get_url(page) %>"><%= page.title %></a></li>
						<% end %>
					</ul>
					
					<ul>
						<legend>技术指南</legend>
						<% Admin::Page.recent(5, :typo => 'article', :channel => 'development').each do |page| %>
							<li><a href="<%=get_url(page) %>"><%= page.title %></a></li>
						<% end %>
					</ul>
					
					<ul>
						<legend>市场营销</legend>
						<% Admin::Page.recent(5, :typo => 'article', :channel => 'marketing').each do |page| %>
							<li><a href="<%=get_url(page) %>"><%= page.title %></a></li>
						<% end %>
					</ul>
				</div>
			</div>

		</div>

	</div>
</div>

<%= render file: 'public/templetes/angel/_footer.html' %>
