
<%= render file: 'public/templetes/angel/_header.html' %>
<div class="light-container">
	<div class="container">

		<div class="row">

			<div class=" col-sm-10 col-lg-10">
				<div class="blog-post">
					<h1 class="post-title"><%= @page.title %></h1>
					<div class="row-fluid clearfix">
						<div class="col-lg-3 meta-text">
							<p><%= @page.description %>.</p>
						</div>
						<div class="col-lg-9">
							<%= raw @page.content %>
						</div>
					</div>
										
					<div class="separated-unit">
						<h3>你可能对下面的也感兴趣</h3>
						<div class="row-fluid clearfix">
							<% Admin::Page.recent(3).each do |page| %>
								<div class="col-lg-4 col-sm-4 col-4">
									<a href="<%= get_url(page) %>" class="hover-plus">
										<img src="http://placehold.it/500x250" alt="">
										<h4><%= page.title %>.</h4>
									</a>
								</div>
							<% end %>
						</div>
					</div>

				</div>

				<!-- COMMENTS -->
				<!-- Duoshuo Comment BEGIN -->
				<div class="ds-thread"></div>
				<script type="text/javascript">
					var duoshuoQuery = {short_name:"65960"};
						(function() {
							var ds = document.createElement('script');
							ds.type = 'text/javascript';ds.async = true;
							ds.src = 'http://static.duoshuo.com/embed.js';
							ds.charset = 'UTF-8';
							(document.getElementsByTagName('head')[0] 
							|| document.getElementsByTagName('body')[0]).appendChild(ds);
						})();
				</script>
				<!-- [[Duoshuo Comment END]] -->
			</div>

			<div class="col-lg-2 col-sm-2">
				<div class="sidebar">
					<ul>
						<legend>使用教程</legend>
						<% Admin::Page.recent(5, :typo => 'article', :channel => 'tutorials').each do |page| %>
							<li><a href="<%=get_url(page) %>"><%= page.title %></a></li>
						<% end %>
					</ul>
					
					<ul>
						<legend>技术指南</legend>
						<% Admin::Page.recent(5, :typo => 'article', :channel => 'development').each do |page| %>
							<li><a href="<%=get_url(page) %>"><%= page.title %></a></li>
						<% end %>
					</ul>
					
					<ul>
						<legend>市场营销</legend>
						<% Admin::Page.recent(5, :typo => 'article', :channel => 'marketing').each do |page| %>
							<li><a href="<%=get_url(page) %>"><%= page.title %></a></li>
						<% end %>
					</ul>
				</div>
			</div>

		</div>

	</div>
</div>
<%= render file: 'public/templetes/angel/_footer.html' %>

