<h1>模版安装</h1>
<p>选择模版文件，以及相应的HEAD(存放CSS,页头公共内容等),FOOT(存放JS,统计代码等)</p>

<%= form_tag('/admin/templetes/create', method: "post") do %>
  <input type="hidden" name="f" value="<%= params[:f]%>"/>
  <select name="templete" style="width: 80%;">
    <% @templetes.each do |temp| %>
      <% temp = $1 if temp =~ /\/([^\/]+)$/ %>
      <option value="<%= temp %>"><%= temp %></option>
    <% end %>
  </select> <a href="#">抽取HEAD/FOOT</a>
  <p>HEAD:
    <textarea name="head" style="width: 100%; height: 400px; max-height: 800px;">
    </textarea>
  </p>
  <p>FOOT:
    <textarea name="foot" style="width: 100%; height: 400px; max-height: 800px;">
    </textarea>
  </p>
  <p>
    <input type="submit" name="submit" value="保存" class="btn btn-primary" />
    <a href="/admin/templetes/index" class="btn btn-default">返回</a>
  </p>
<% end %>

