<div id="about" class="list">
  <h2><i class="fa fa-dot-circle-o fa-lg"></i> RainCMS简介</h2>
  <p>RainCMS是由Ruby on Rails开发的一款轻量级内容管理开源系统。由瑞信云科技公司开发并维护，如今已经服务于国外多家企业，获得了良好的效果和反馈，中文版系统将致力于围绕国内企业需求，作出许多改进和实践，以切合国内网络环境的需求。</p>

  <p>您可以使用 <strong>RainCMS</strong>：</p>

  <ul>
    <li>建立一个功能完善的企业独立站点</li>
    <li>高级模板定制（需要有一定的开发基础）</li>
    <li>手机优先适配，一个站点同时支持电脑、PAD和手机</li>
    <li>发布页面，博客，新闻，日记，杂文，所见所想</li>
    <li>多方面SEO优化，营销渠道支持</li>
    <li>轻松第三方插件集成</li>
  </ul>

  <p>RainCMS从技术层面封装了控制层和对象模块，用户只需要定制视图层模板，即可获得全新的独立站点。</p>
</div>


