<div id="page" class="list">
  <h2><i class="fa fa-dot-circle-o fa-lg"></i>  如何添加页面</h2>

  <p>...</p>
  <table class="table table-bordered">
    <tr><th>属性</th><th>说明</th></tr>
    <tr>
      <td>channel_id</td>
      <td>栏目ID，每个页面必须属于某个栏目</td>
    </tr>
    <tr>
      <td>title</td>
      <td>页面标题</td>
    </tr>
    <tr>
      <td>short_title</td>
      <td>页面URL缩写，如http://localhost:3000/blog/<span class="red">contact-us</span></td>
    </tr>
    <tr>
      <td>properties</td>
      <td>用于标记文章的选项属性：[加粗,图片,头条,幻灯,底部,推荐,滚动,跳转]</td>
    </tr>
    <tr>
      <td>keywords</td>
      <td>SEO关键词</td>
    </tr>
    <tr>
      <td>description</td>
      <td>SEO描述</td>
    </tr>
    <tr>
      <td>content</td>
      <td>页面内容部分，必填。</td>
    </tr>
  </table>
</div>