<div id="sms" class="list">
  <h2><i class="fa fa-dot-circle-o fa-lg"></i>  如何实现短信发送功能</h2>

  <p>触发条件：</p>
  <ol>
    <li>用户在前台提交留言／预订的时候</li>
  </ol>

  <p>运行条件条件：</p>
  <ol>
    <li>需要在服务区根目录下运行： <strong>bundle exec sidekiq</strong></li>
  </ol>

  <h3>controller </h3>
  <pre>
    class CommentsController < ApplicationController
      
      def create
        @comment = Comment.new(comment_params)

        respond_to do |format|
          if @comment.save
            if ENV['SMS_TOGGLE']
              SmsSendWorker.perform_async(ENV['SMS_PHONE'].split('|').join(','), "【#{Admin::Keystore.value_for('site_name') || '直达客'}】#{@comment.mobile_phone}#{@comment.content.nil? ? '希望你尽快与他取得联系' : @comment.content.to_s.truncate(36)}")
              SmsSendWorker.perform_async(@comment.mobile_phone, "【#{Admin::Keystore.value_for('site_name') || '直达客'}】您的联络人员手机号为#{ENV['CONTACT_MOBILE']}, 我们会尽快与您取得联系！")
            end
          ...
      end
    end
  </pre>

  <h3>涉及的文件</h3>
  <pre>
    app/controllers/comments_controller.rb#create
    app/workers/sms_send_worker.rb
    lib/sms_bao.rb
  </pre>

  <h3>application.yml中的常量设置</h3>
  <pre>
    SMS_TOGGLE: false                     ＃是否提供短信通知功能
    SMS_BAO_USER: inruby
    SMS_BAO_PASSWORD: kenrome001
    SMS_PHONE: 18080810818|18080810818    ＃短信通知到哪些手机号
  </pre>
  <h3>如何开通分站短信发送</h3>
  <small>逻辑：判断是非有分站手机号，如果有则发送给分站，否则发送给总站设置的手机号</small>
  <ol>
    <li>在用户提交表单的时候，给comment.branch赋值： branch1, branch2, branch3...</li> 
    <li>添加分站栏目的时候，应该考虑把short_title=branch1, branch2...以保持变量传递一致性</li>
    <li>在application.yml中，给每个分站设置接收短信的手机号，如下：</li>
  </ol>
  <pre>
    #分站管理员手机号
    SMS_BRANCH1: 15328077520
    SMS_BRANCH2: 18080810818
  </pre>
</div>