<div id="user" class="list">
  <h2><i class="fa fa-dot-circle-o fa-lg"></i> 用户权限管理</h2>
  <p>系统权限有三个 ROLES: [admin, user, VIP]</p>
  <p>默认注册用户没有任何管理权限，:user适用于后台管理员； :admin适用于超级管理员(在后台管理员的权限上增加了用户管理的权限)</p>

  <ul>
    <li>会员权限修改在 models/ability.rb中</li>
    <li>参考Gem <a href="https://github.com/ryanb/cancan" target="_blank">cancan</a></li>
    <li>参考Gem <a href="https://github.com/EppO/rolify" target="_blank">rolify</a></li>
  </ul>

  <h3>需要在db/seeds.rb中初始化角色权限表和默认登录用户</h3>
  <pre>
    # puts '初始化权限表'
    YAML.load(ENV['ROLES']).each do |role|
      Role.find_or_create_by(name: role)
      puts 'role: ' << role
    end

    puts '初始化管理员信息'
    user = User.create(:name => ENV['ADMIN_NAME'].dup, :email => ENV['ADMIN_EMAIL'].dup, :password => ENV['ADMIN_PASSWORD'].dup, :password_confirmation => ENV['ADMIN_PASSWORD'].dup)
    user.add_role :admin
  </pre>
</div>


