<h2>产品详情模板页面代码</h2>
<p>使用说明：<br>
1. 要添加一个产品的时候，选择【产品内容】工具栏中的“源码”，将下面的代码复制粘贴到“源码”里面。<br>
2. 替换产品的图片、图片链接、文字等内容<br>
3. 保存查看效果<br>
4. 如果图片没有左右切换的效果出现，说明需要修改一下代码：<br>
  重新点击‘修改’修改页面，然后点击‘源码’，找到以下标签ul：<br>
  <pre>
    &lt;ul&gt; 修改为 &lt;ul class="slides"&gt;
  </pre>
  找到以下标签li:
  <pre>
    &lt;li> 修改为 &lt;li class="slide thumbnail"&gt;
  </pre>
  修改以后，直接保存。
  <br>
  <br>
</p>

<textarea cols="100" style="height: 800px;">

<!-- SLIDER SIDE -->
<div class="span7">
<div class="large-sl" id="slider"><!-- CONTROLS DIV CONTAINER ! NOT REMOVE -->
<div class="portfolio-controls-single">&nbsp;</div>
<!-- CONTROLS DIV CONTAINER ! NOT REMOVE --><!-- BEGIN SLIDER UL -->

<ul class="slides">
  <!-- BEGIN SLIDE -->
  <li class="slide thumbnail">
    <!-- 复制图片地址到这里 -->
    <a href="/assets/product_images/EL80.jpg" rel="prettyPhoto[gallery]">
       <!-- 复制图片地址到这里 -->
      <img alt="实木系列-现代简约-领驭" src="/assets/product_images/EL80.jpg" /><br></a>
      <div class="well" style="display:block; line-height: 25px;">
         木结合 绿色办公环保也能驾驭时尚。Bravo，一改实木家具传统，将新型钢制材料运用到办公桌下脚，环保又不失时尚。钢制下脚是Bravo的点睛之笔，结合L型转接的凌冽与鱼肚型框柱的圆润，它是设计师引以为豪的技艺合一的典范。健全的侧柜走线系统有效解决办公室线路收纳问题。这里有技术与艺术的统一。办公空间根据样本统计数据确定拔插电源、开关抽屉等动作所需的距离。
      </div>
    </a></li>
  <!-- BEGIN SLIDE -->

  <li class="slide thumbnail">
    <!-- 复制图片地址到这里 -->
    <a href="/ckeditor_assets/pictures/65/content_leading36.jpg" rel="prettyPhoto[gallery]">
       <!-- 复制图片地址到这里 -->
      <img alt="实木系列-现代简约-领驭" src="/ckeditor_assets/pictures/65/content_leading36.jpg" style="height:1116px; width:800px" /><br></a>
      <div class="well" style="display:block; line-height: 25px;">
         木结合 绿色办公环保也能驾驭时尚。Bravo，一改实木家具传统，将新型钢制材料运用到办公桌下脚，环保又不失时尚。钢制下脚是Bravo的点睛之笔，结合L型转接的凌冽与鱼肚型框柱的圆润，它是设计师引以为豪的技艺合一的典范。健全的侧柜走线系统有效解决办公室线路收纳问题。这里有技术与艺术的统一。办公空间根据样本统计数据确定拔插电源、开关抽屉等动作所需的距离。
      </div>
    </a></li>
  <!-- BEGIN SLIDE -->

  <li class="slide thumbnail">
    <!-- 复制图片地址到这里 -->
    <a href="/ckeditor_assets/pictures/65/content_leading36.jpg" rel="prettyPhoto[gallery]">
       <!-- 复制图片地址到这里 -->
      <img alt="实木系列-现代简约-领驭" src="/ckeditor_assets/pictures/65/content_leading36.jpg" style="height:1116px; width:800px" /><br></a>
      <div class="well" style="display:block; line-height: 25px;">
         木结合 绿色办公环保也能驾驭时尚。Bravo，一改实木家具传统，将新型钢制材料运用到办公桌下脚，环保又不失时尚。钢制下脚是Bravo的点睛之笔，结合L型转接的凌冽与鱼肚型框柱的圆润，它是设计师引以为豪的技艺合一的典范。健全的侧柜走线系统有效解决办公室线路收纳问题。这里有技术与艺术的统一。办公空间根据样本统计数据确定拔插电源、开关抽屉等动作所需的距离。
      </div>
    </li>
</ul>
<!-- END SLIDER UL --></div>


</div>
<!-- END: SLIDER SIDE -->
<!-- PORTFOLIO ASIDE -->
<div class="span5">
  <!-- TITLE -->
  <h2 class="folio-title">领驭</h2>

  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#home" data-toggle="tab">产品描述</a></li>
    <li><a href="#profile" data-toggle="tab">产品色卡</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="home">
<!-------------------------------------->
      产品描述放这，。。。。。
<div class="pro_tab_con" style="display:block;">
五星级酒店，五星级饭店，也有五星级办公空间。<br>
领驭，五星品质的办公空间，仅为菁英少数派尊享。<br>
<br>
<strong>外观说明<br>
</strong>以“L”造型作为结构的基本元素，“L”比“一”更富有审美情趣，比“X”结构更显简洁；整个轮廓采用独树一帜的非对称结构，虚实结合，错落有致。<br>
<br>
<strong>功能设计</strong> <br>
实木与高科技的结合，采用抽拉隐蔽式走线、电子智能琐、电子智能轨道、电动抽拉侧柜而、多功能信息面板，为你打造一个智能集成商务空间。<br>
打印机、碎纸机、保险柜、笔记本电脑、冰箱等各种办公设备有条不紊、暗置柜中，提供个人私属的小型商务中心。<br>
<br>
<strong>材质说明<br>
</strong>鸡翅木<br>
头层牛皮<br>
<br>
<strong>建议搭配<br>
</strong><br>
<table border="0">
    <tbody>
        <tr>
            <td width="100"><a target="_blank" href="http://www.isunon.com/Product3.php?classid=110&amp;idd=302"><img height="56" alt="" width="80" border="0" src="http://www.isunon.com/upload/s_20120508025423.jpg"><br>
            CFH37座椅</a></td>
            <td width="100"><a target="_blank" href="http://www.isunon.com/Product3.php?classid=111&amp;idd=333"><img height="48" alt="" width="80" border="0" src="http://www.isunon.com/upload/s_20120514032454.jpg"><br>
            S913</a></td>
        </tr>
    </tbody>
</table>
<br>
<br>
<strong>获奖情况<br>
</strong>2010年IF获奖作品 <br>
第二十三届中国广州国际家具博览会功能创新奖&nbsp; 金奖 <br>
<br>
<br></div>
<br><br>
<a href="http://v.youku.com/v_show/id_XNjM4MjY1NzQw.html" target="_blank"><img src="http://www.sunon-china.com/images/imgshipg2.jpg"/></a>
<!-------------------------------------->
    </div>
    <div class="tab-pane" id="profile">
      <p>
        <!-- 色卡添加-->
        <img src="http://www.sunon-china.com/upload/s_20120411041211.jpg" /> 
        <a href="javascript:void(null)">鸡翅木面</a>
      </p>
      <p>
        <!-- 色卡添加-->
        <img src="http://www.sunon-china.com/upload/s_20120411041211.jpg" /> 
        <a href="javascript:void(null)">鸡翅木面</a>
      </p>

    </div>
  </div>

  <!-- END PARAGRAPH -->
  <!-- DEVIDER LINE -->
  <div class="no-color-line-no-border3"></div>
  <hr class="half2"/>
  <!-- ACTION BUTTON -->
  <a class="btn btn-success btn-large btn-block" style="width: 200px;" href="#" title="">现在预定</a>
  <!-- END ACTION BUTTON -->
</div>

</textarea>