<div class="span4 side_bar">
  
  <div class="row-fluid">
    <div class="line2 center">
      <h5 class="standart-h3title"><span>最近发生...</span></h5>
    </div>
    <ul class="l_tinynav2 widget-archive" id="nav2">
      <% Admin::Page.recent(10).each do |page| %>
        <li><a href="<%= get_url(page) %>" style="margin-left:0px;"><%= page.title %></a></li>
      <% end %>    
    </ul>
  </div>
  <div class="row-fluid">
    <hr class="half" />
    <div class="line2 center">
      <h5 class="standart-h3title"><span>Tags</span></h5>
    </div>
      
    <div class="span12">
      <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
        <%= link_to tag.name, {:action => :index, :tag => tag.name }  %>
      <% end %>
    </div>
  </div>
      
<!--   <div class="row-fluid">
    <hr class="half" />
      <div class="line2 center">
        <h5 class="standart-h3title"><span>Tabs</span></h5>
      </div>
        <div class="tabbable">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#1" data-toggle="tab">News</a></li>
            <li><a href="#2" data-toggle="tab">Freebies</a></li>
            <li><a href="#2" data-toggle="tab">WordPress</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="1">
              <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
            <div class="tab-pane" id="2">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu. Aenean nisl orci, cosequat eu.</p>
            </div>
            <div class="tab-pane" id="3">
              <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
          </div>
        </div>
    </div>
       -->
  <div class="row-fluid">
    <hr class="half" />
    <div class="line2 center">
      <h5 class="standart-h3title"><span>视频介绍</span></h5>
    </div>
      <div class="vendor">
        <div class="container-video">
          <iframe src="http://player.vimeo.com/video/29309724?title=0&color=FF5050" frameborder="0"></iframe>
        </div>
      </div>
  </div>
</div>
    
    
    
    
    