<% 
  def get_color_tag(page)
    cc = [['graphics', '个性时尚'], ['nature', '现代简约'], ['food', '传统经典']].find{|c| page.tag_list.include?( c[-1] )}
    return '' if cc.nil?
    cc.any? ? cc[0] : 'other'
  end
%>
<!--START MAIN-WRAPPER--> 
<div class="main-wrapper">
  <%= render file: 'public/templetes/sunon-dcj/_header.html' %>

  <!-- [[main start]] -->
  <!-- PAGE HEADER -->
  <div class="page-header">
    <div class="shine">
      <div class="container">
        <div class="row-fluid">
          <div class="span12">
            <div class="row-fluid">
              <div class="span12">
                <h1><%= @channel.title %></h1>
                <!-- BREADCRUMB -->
                  <ul class="breadcrumb">
                    <li><a href="/">首页</a> <span class="divider">&rarr;</span></li>
                    <li class="active">产品中心</li>
                  </ul>
                <!--END: BREADCRUMB -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- PAGE HEADER -->
  
  <!-- CONTENT CONTAINER-->
  <div class="container">
    <!-- FILTER-->
    <!-- just add your TAG to data-filter="ADD HERE" -->  
    <!-- and then add your same TAG to portfolio item class="ADD HERE" -->
    <div class="color-bottom-line center">
      <div class="line-proj center">
        <div class="proj">
          <div id="filters">
            <a href="#" data-filter="*" class="ione-col active">显示全部</a>
            <a href="#" data-filter=".graphics" class=" ione-col">个性时尚</a>
            <a href="#" data-filter=".nature" class="ione-col">现代简约</a>
            <a href="#" data-filter=".food" class="ione-col">传统经典</a>
            <a href="#" data-filter=".other" class="ione-col">其它</a>
          </div>
        </div>
      </div>
    </div>
    <!--END: FILTER-->
  
  <!--###################-->
  <!-- START PORTFOLIO // THIS ITEM COMMENTED-->
  <!--###################-->
  <div id="container-folio" class="row ufilter"><!-- !important! => DONT REMOVE class="ufilter"--> 
    <div class="span12">
      <div id="portfolio" class="row">
      
        <!-- portfolio item -->
      <% @pages.each do |page| %>
        <div class="span3  project-item box <%= get_color_tag(page)%>">
          <div class="thumbnail">
        
            <!-- IMAGE CONTAINER-->
            <div class="sample project-item-image-container">
              <div class="project-item-overlay ">
                <div class="inner">
                  <ul>
                    <li> <a rel="prettyPhoto[gallery]" href="<%= page.image_path %>" class="proj-btn">
                      <i class="fa-icon-zoom-in fa-icon-large"></i></a>
                    </li>
                    <li><a class="proj-btn" href="<%= get_url(page) %>">
                        <i class="fa-icon-link fa-icon-large"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <img src="<%= page.image_path %>" alt="<%= page.title %>" /> 
            </div> 
            <!--END IMAGE CONTAINER-->

            <!-- CAPTION -->
            <div class="caption">
              <div class="transit-to-top">
                <h3 class="p-title standart-h3title"><%= page.title %></h3>
                <p class="caption-descr"><%= page.short_description(40) %></p><a href="<%= get_url(page) %>" title="read more">更多 &rarr;</a>
              </div>
            </div> 
            <!--END CAPTION -->
          </div>
          <!-- END: THUMBNAIL -->
        </div>
      <% end %>
        <!-- ##################### -->
        <!-- END: portfolio item -->
        <!-- ##################### -->
      </div>
    </div>
  </div>
  <!-- [[main end]] --> 

  <%= render file: 'public/templetes/sunon-dcj/_footer.html' %>
</div>
<!-- END: MAIN-WRAPPER-->

<!-- Le javascript
  ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 

<script src="/templetes/sunon-dcj/assets/js/jquery.js" type="text/javascript"></script> 
<script src="/templetes/sunon-dcj/assets/js/google-code-prettify/prettify.js" type="text/javascript"></script> 
<script src="/templetes/sunon-dcj/assets/js/bootstrap-transition.js" type="text/javascript"></script> 
<script src="/templetes/sunon-dcj/assets/js/bootstrap-alert.js" type="text/javascript"></script> 
<script src="/templetes/sunon-dcj/assets/js/bootstrap-modal.js" type="text/javascript"></script> 
<script src="/templetes/sunon-dcj/assets/js/bootstrap-dropdown.js" type="text/javascript"></script> 
<script src="/templetes/sunon-dcj/assets/js/bootstrap-scrollspy.js" type="text/javascript"></script> 
<script src="/templetes/sunon-dcj/assets/js/bootstrap-tab.js" type="text/javascript"></script> 
<script src="/templetes/sunon-dcj/assets/js/bootstrap-tooltip.js" type="text/javascript"></script> 
<script src="/templetes/sunon-dcj/assets/js/bootstrap-popover.js" type="text/javascript"></script> 
<script src="/templetes/sunon-dcj/assets/js/bootstrap-button.js" type="text/javascript"></script> 
<script src="/templetes/sunon-dcj/assets/js/bootstrap-collapse.js" type="text/javascript"></script> 
<script src="/templetes/sunon-dcj/assets/js/bootstrap-carousel.js" type="text/javascript"></script> 
<script src="/templetes/sunon-dcj/assets/js/bootstrap-typeahead.js" type="text/javascript"></script> 
<script src="/templetes/sunon-dcj/assets/js/bootstrap-affix.js" type="text/javascript"></script> 
<script src="/templetes/sunon-dcj/assets/js/application.js" type="text/javascript"></script> 
<script type="text/javascript" src="/templetes/sunon-dcj/assets/js/jquery.easing.js"></script>
<script type="text/javascript" src="/templetes/sunon-dcj/assets/js/jquery.waitforimages.js"></script> 
<script type="text/javascript" src="/templetes/sunon-dcj/assets/js/jquery.isotope.min.js"></script>
<script src="/templetes/sunon-dcj/assets/js/jquery.prettyPhoto.js" type="text/javascript"></script> 
<script src="/templetes/sunon-dcj/assets/js/superfish.js" type="text/javascript"></script> 
<script src="/templetes/sunon-dcj/assets/js/custom.js" type="text/javascript"></script>
<script src="/templetes/sunon-dcj/assets/js/jquery.ui.totop.js" type="text/javascript"></script>

<script>
  jQuery.noConflict()(function($){
    var $container = $('#container-folio');
        
    if($container.length) {
      $container.waitForImages(function() {
        
        // initialize isotope
        $container.isotope({
          itemSelector : '.box',
          layoutMode : 'fitRows'
        });
        
        // filter items when filter link is clicked
        $('#filters a').click(function(){
          var selector = $(this).attr('data-filter');
          $container.isotope({ filter: selector });
          $(this).removeClass('active').addClass('active').siblings().removeClass('active all');
          
          return false;
        });
        
      },null,true);
  }});
</script>

    
    
    