<!--START MAIN-WRAPPER--> 
<div class="main-wrapper">
<!-- Navbar ================================================== -->
<%= render file: 'public/templetes/sunon-dcj/_header.html' %>
<!-- PAGE HEADER -->
<div class="page-header">
  <div class="shine">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="row-fluid">
            <div class="span12">
              <h1><%= @channel.title %></h1>
              <!-- BREADCRUMB -->
              <ul class="breadcrumb">
                <li><a href="/">首页</a> <span class="divider">&rarr;</span></li>
                <li class="active"><%= @channel.title %></li>
              </ul>
              <!--END: BREADCRUMB -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- PAGE HEADER -->
<div class="container">
  <div class="row-fluid blog">
    <div class="span12">
  
      <%= yield(:content) %>
    
      <hr class="soften">
      
    </div>
    <!-- SIDEBAR-->
    <%#= render file: 'public/templetes/sunon-dcj/_sidebar.html' %>
    <!-- END SIDEBAR-->
  </div>
</div>

<%= render file: 'public/templetes/sunon-dcj/_footer.html' %>

<!-- END: FOOTER -->
</div>
<!-- END: MAIN-WRAPPER-->
