<!--START MAIN-WRAPPER--> 
<div class="main-wrapper">
<!-- Navbar
    ================================================== -->
<%= render file: 'public/templetes/sunon-dcj/_header.html' %>
  <!-- PAGE HEADER -->
  <div class="page-header">
    <div class="shine">
      <div class="container">
        <div class="row-fluid">
          <div class="span12">
            <div class="row-fluid">
              <div class="span12">
                <h1><%= @channel.title %></h1>
                <!-- BREADCRUMB -->
                <ul class="breadcrumb">
                  <li><a href="/">首页</a> <span class="divider">&rarr;</span></li>
                  <li class="active"><%= @channel.title %></li>
                </ul>
                <!--END: BREADCRUMB -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- PAGE HEADER -->
  <div class="container">
    <div class="row-fluid blog">
    <!-- ####################-->
    <!-- ####### BLOG ITEM ######-->
    <!-- ####################-->
    <% @pages.each do |page| %>
      <div class="span4 box-blog">
        <h2 class="box-title">
          <a href="/<%= @channel.short_title %>/<%= page.id %>-<%= page.short_title %>"><%= page.title %></a>
        </h2>
        <div class="thumbnail box">
          <a href="<%= get_url(page) %>">
            <% if page.image_path.blank? %>
            <img src="/templetes/sunon-dcj/images/bootstrap-layout.jpg" alt="post image">
            <% else %>
            <img src="<%= page.image_path %>" alt="<%= page.keywords %>">
            <% end %>
          </a>
        </div> 
      </div>
    <% end %>
    <!-- ####################-->
    <!-- ####### END: BLOG ITEM ######-->
    <!-- ####################-->
    <hr class="soften">
    <%= will_paginate @pages %>
    </div>
  </div>
</div>
<%= render file: 'public/templetes/sunon-dcj/_footer.html' %>

<!-- END: FOOTER -->
</div>
<!-- END: MAIN-WRAPPER-->

    
    