 <!--START MAIN-WRAPPER--> 
<div class="main-wrapper">

<%= render file: 'public/templetes/sunon-dcj/_header.html' %>

<!-- PAGE HEADER -->
<div class="page-header">
	<div class="shine">
		<div class="container">
			<div class="row-fluid">
				<div class="span12">
						<h1><%= @channel.title %></h1>
						<!-- BREADCRUMB -->
						<ul class="breadcrumb">
						  <li><a href="/">首页</a> <span class="divider">&rarr;</span></li>
              <li class="active"><%= @channel.title %></li>
						</ul>
						<!--END: BREADCRUMB -->
		  </div>
		 </div>
		</div>
	   </div>
	 </div>
	<!-- PAGE HEADER -->
<div class="container">
  <div class="row-fluid blog">
    <div class="span8">
      <div class="blog-post">
        <div class="blog-item">
		
		      <span class="label label-info label-xl span2 center"><span class="date-blog"><%= @page.updated_at.day %></span> <br><%= @page.updated_at.year %>-<%= @page.updated_at.month %>
          </span>
          <div class="span10">
            <h2 class="standart-h2title"><%= @page.title %></h2>
		      </div>
        
	 
          <p class="meta-blog clearfix">
							<i class="icon-comment"></i>
							 <a href="#comment">评论</a>
              | <i class="icon-share"></i>
              <a href="#">分享</a> | <i class="icon-user"></i> 
              <a href="#">东长江发布</a> | 标签: 
              <% @page.tag_list.each do |t| %>
                <a href="#"><span class="label label-info"><%= t %></span></a> 
              <% end %>
					</p>
         
          <% unless @page.image_path.blank? %>
            <div class="thumbnail">
              <img src="<%= @page.image_path %>" alt="<%= @page.title %>">
            </div>
		      <% end %>

          <div class="dd_buttons clearfix">
           
          </div>
        </div>
        <div class="page_content">
          <%= raw @page.content %>
        </div>
      </div>
      
	  <div class="row-fluid">
			<div class="line2 center">
          <h5 class="standart-h3title"><span>评论</span></h5><a name="comment"></a>
		  </div>
      <!-- Duoshuo Comment BEGIN -->
        <div class="ds-thread"></div>
      <script type="text/javascript">
      var duoshuoQuery = {short_name:"dcj"};
        (function() {
          var ds = document.createElement('script');
          ds.type = 'text/javascript';ds.async = true;
          ds.src = 'http://static.duoshuo.com/embed.js';
          ds.charset = 'UTF-8';
          (document.getElementsByTagName('head')[0] 
          || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
        </script>
      <!-- Duoshuo Comment END -->
      <hr class="soften">
	  </div>
     
    </div>
	<!-- END CONTENT SIDE -->
	<!-- SIDEBAR-->
  <%= render file: 'public/templetes/sunon-dcj/_sidebar.html' %>
	<!-- END SIDEBAR-->
  </div>
  <!-- END INNER ROW-FLUID -->
</div>
<!-- END CONTENT CONTAINER-->

<%= render file: 'public/templetes/sunon-dcj/_footer.html' %>
<!-- END: FOOTER -->
</div>
<!-- END: MAIN-WRAPPER-->


    