 <!--START MAIN-WRAPPER--> 
<div class="main-wrapper">

<%= render file: 'public/templetes/sunon-dcj/_header.html' %>

<!-- PAGE HEADER -->
<div class="page-header">
  <div class="shine">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
            <h1><%= @channel.title %></h1>
            <!-- BREADCRUMB -->
            <ul class="breadcrumb">
              <li><a href="/">首页</a> <span class="divider">&rarr;</span></li>
              <li class="active"><%= @channel.title %></li>
            </ul>
            <!--END: BREADCRUMB -->
      </div>
     </div>
    </div>
     </div>
   </div>
  <!-- PAGE HEADER -->
<div class="container">
  <div class="row-fluid blog">
    <div class="span8">
      <div class="blog-post">
        <div class="blog-item">
          <div class="span12">
            <h2 class="standart-h2title"><%= @page.title %></h2>
          </div>
        </div>
        <div class="page_content">
          <%= raw @page.content %>
        </div>
      </div>
    </div>
  <!-- END CONTENT SIDE -->
  <!-- SIDEBAR-->
  <%= render file: 'public/templetes/sunon-dcj/_sidebar.html' %>
  <!-- END SIDEBAR-->
  </div>
  <!-- END INNER ROW-FLUID -->
</div>
<!-- END CONTENT CONTAINER-->

<%= render file: 'public/templetes/sunon-dcj/_footer.html' %>
<!-- END: FOOTER -->
</div>
<!-- END: MAIN-WRAPPER-->


    