      
<!--START MAIN-WRAPPER--> 
<div class="main-wrapper">

	<!-- START HEADER headertop -->
	<div class="headertop needhead">
		<!-- BLURED BACKGROUND-->
		<!-- <div class="action-banner-bg"></div> -->
		<!-- END BLURED BACKGROUND-->
		
		<!-- PIXEL BG DOTTS UNDER BLURED BACKGROUND-->
		<!-- <div class="action-banner-bg-top"></div> -->
		<!-- END PIXEL BG DOTTS UNDER BLURED BACKGROUND-->
 
 		<%= render file: 'public/templetes/sunon-dcj/_header.html' %>
	  <!-- SLIDER START-->

			<!-- start slider -->
      <div id="slider" class="sl-slider-wrapper demo-2">

				<div class="sl-slider">
				
					<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
						<div class="sl-slide-inner">
							<div class="bg-img bg-img-1"></div>
							<h2></h2>
							<blockquote><p>质量至上，客户至尊的经营理念</p></blockquote>
						</div>
					</div>
					
					<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
						<div class="sl-slide-inner">
							<div class="bg-img bg-img-2"></div>
							<h2></h2>
							<blockquote><p>细节创造价值，东长江为您提供办公环保新环境</p></blockquote>
						</div>
					</div>
					
					<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
						<div class="sl-slide-inner">
							<div class="bg-img bg-img-3"></div>
							<h2></h2>
							<blockquote><p>只要有办公的地方，就请选用东长江办公家具</p></blockquote>
						</div>
					</div>
					
					<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
						<div class="sl-slide-inner">
							<div class="bg-img bg-img-4"></div>
							<h2></h2>
							<blockquote><p>只要有您的需要，就有我们的服务</p></blockquote>
						</div>
					</div>
					
					<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1">
						<div class="sl-slide-inner">
							<div class="bg-img bg-img-5"></div>
							<!-- <h2><strong>东长江办公家具，</strong>让办公成为一种享受</h2> -->
							<blockquote><p>东长江办公家具，让办公成为一种享受！</p></blockquote>
						</div>
					</div>
				</div><!-- /sl-slider -->

				<nav id="nav-dots" class="nav-dots">
					<span class="nav-dot-current"></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</nav>

			</div><!-- /slider-wrapper -->
			<!-- end slider -->	
	
		<!-- SLIDER [END]-->
		
	</div>
	<!-- END HEADER headertop -->

<!-- ######################################################## -->			

	<!-- MAIN CONTENT CONTAINER -->
	<div class="container">
 
    <h2 class="line center"> <span>圣奥.东长江，您放心的环保办公家具专家！</span></h2>

		<!-- START MARKETING DIV-->
		<div class="marketing">
	
			<div class="row-fluid">
				<!-- FEATURE ITEM-->
				<div class="span3 e_pulse">
					<img src="/templetes/sunon-dcj/assets/img/index_a_1.jpg" alt="关于东长江"/>
					<h3 class="features-title"> <span class="firstword">关于东长江</span></h3>
					<p class="features">东长江是一家立足在世界高度，为一流品牌企业创建现代办公环境、提供设计、产品及全面服务的专业办公家具公司。目前该公司是西部地区规模最大、实力最强大办公家具供应商。<a href="/company">更多...</a></p>
				</div>
				<!-- END FEATURE ITEM-->
				<!-- FEATURE ITEM-->
				<div class="span3 e_pulse">
					<img src="/templetes/sunon-dcj/assets/img/index_a_2.jpg" alt="关于东长江"/>
					<h3 class="features-title"> <span class="firstword">企业文化</span></h3>
					<p class="features">东长江秉承上善若水、厚德载物、以德创业、以德立业、以德兴业，质量至上，客户至尊的企业理念，东长江蕴涵公司如初升的旭日，以其勃勃生机，昂扬斗志，自强不息的追求不断创新，精益求精，致于至善的企业精神.<a href="/coture">更多...</a></p>
				</div>
				<!-- END FEATURE ITEM-->
				<!-- FEATURE ITEM-->
				<div class="span3 e_pulse">
					<img src="/templetes/sunon-dcj/assets/img/index_a_3.jpg" alt="关于东长江"/>
					<h3 class="features-title"> <span class="firstword">服务团队</span></h3>
					<p class="features">细节创造价值，东长江改变办公环境，只要有办公的地方就请选用我们的办公家具，只要有你的需要就有我们的服务，东长江愿与你携手共造办公新环境。<a href="/team">更多...</a></p>
				</div>
				<!-- END FEATURE ITEM-->
				<!-- FEATURE ITEM-->
				<div class="span3 e_pulse">
					<img src="/templetes/sunon-dcj/assets/img/index_a_1.jpg" alt="关于东长江"/>
					<h3 class="features-title"> <span class="firstword">产品推介</span></h3>
					<p class="features">四川东长江公司本着为贵公司办公家具服务的宗旨，将制定严格的采供计划，货源主要直接从厂家进货，经确保品质优良，供货准确。公司有专人负责下订单并跟进。一般情况下，合同签订后一天之内便安排生产。<a href="/product-shimu">更多...</a></p>
				</div>
				<!-- END FEATURE ITEM-->
				<!-- FEATURE ITEM-->
	    </div>

	    <div class="row-fluid">
				<div class="span3 features e_pulse">
					<img src="/templetes/sunon-dcj/assets/img/index_b_1.jpg" alt="">
					<div class="box">
						<div class="divcenter">
							<a href="#"><h4 class="">油漆木面类产品</h4></a>
						</div>
					</div>
				</div>
				<div class="span3 features e_pulse">
					<img src="/templetes/sunon-dcj/assets/img/index_b_2.jpg" alt="">
					<div class="box">
						<div class="divcenter">
							<a href="#"><h4 class="">板式类产品</h4></a>
						</div>
					</div>
				</div>
				<div class="span3 features e_pulse">
					<img src="/templetes/sunon-dcj/assets/img/index_b_3.jpg" alt="">
					<div class="box">
						<div class="divcenter">
							<a href="#"><h4 class="">座椅系列</h4></a>
						</div>
					</div>
				</div>
				<div class="span3 features e_pulse">
					<img src="/templetes/sunon-dcj/assets/img/index_b_4.jpg" alt="">
					<div class="box">
						<div class="divcenter">
							<a href="#"><h4 class="">沙发系列</h4></a>
						</div>
					</div>
				</div>
			</div>
			<!-- CALL TO ACTION -->
			<div class="row-fluid">
				<div class="span12">
					<div class="well">
						<p class="land left" style="font-size: 200%; font-family: 微软雅黑; line-height: 1.3em;">
						<span class="main-color">圣奥.东长江</span> - 我们是四川地区最具专业特色的办公家具整套解决方案提供商 
						</p>
					</div>
				</div>
			</div>
			<!-- END CALL TO ACTION -->
			<hr class="half">
   
   		<div class="row">
		  <!--- ########### ## -->
		  <!--- PORTFOLIO ROTATOR ## -->
		  <!--- ########### ## -->
      	<div class="span6 portfolio_rotator">
	  			<div class="portfolio-controls">
        		<h3 class="line2 center standart-h3title"><span>最新产品展示</span></h3>
        	</div>
        
          <ul class="thumbnails slides">
          <% Admin::Page.recent(10, :typo => 'product').each do |page| %>
	          <!--START ITEM -->
					  <li class="span4 slide">  
						  <div class="project-item">
							  <div class="thumbnail">
								<!--IMAGE CONTAINER OVERLAY -->
		            	<div class="sample project-item-image-container">
										<div class="project-item-overlay">
											<div class="inner">
								  			<ul>
													<li><a class="proj-btn" href="<%= get_url(page) %>"><i class="fa-icon-link fa-icon-large"></i></a></li>
								  			</ul>
											</div>
										</div>
										<img src="<%= page.image_path %>" alt="" /> 
									</div>
									<!-- END: IMAGE CONTAINER OVERLAY -->
					  			<!-- CAPTION -->
					
						 			<div class="caption">
										<div class="transit-to-top">
										  <h4 class="p-title"><%= page.title %></h4>
										  <p class="caption-descr"><%= page.short_description(20) %></p>
										</div>
						  		</div> 
						  		<!--END CAPTION -->
								</div>
							</div>
				  	</li>
				    <!--END ITEM --> 
			  	<% end %>
	    </ul>
	</div>
	  <!--- ########### ## -->
	  <!--- END: PORTFOLIO ROTATOR ## -->
	  <!--- ########### ## -->
	  
	  
	  <!--- ########### ## -->
	  <!--- IN THE NEWS ## -->
	  <!--- ########### ## -->
      <div class="span6">
	
	  <div class="border-left-color">
	  	<h3 class="standart-h3title"><span>东长江资讯中心</span></h3>
      <table class="table table-hover">
				<tbody>
					<% Admin::Page.recent(4, typo: 'article').each do |page| %>
						<tr>
							<td>
							<div class="nowrap small-text"><%= page.format_date %></div>
							</td>
							
							<td>
								<i class="fa-icon-comments-alt">&nbsp;</i>
							</td>
							<td>
							<a href="<%= get_url(page) %>"> <strong><%= page.title %></strong> </a>
							<div class="italic"><%= page.channel.title %></div>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
    </div>
	 
	  </div>
	  
	  <!--- ########### ## -->
	  <!--- END: IN THE NEWS ## -->
	  <!--- ########### ## -->
    
  </div>
  </div>
  
  <!--- CLIENTS ROTATOR ## -->
  
  <div class="row-fluid">
  <!--****************-->
	<!-- CLIENTS ROTATOR -->
	<!--****************-->
	<div class="span12 clients_rotator_widget_wrap">
				<div class="color-bottom-line flex-controls-cl">
					<h3 class="line2 center standart-h3title"><span>东长江家具客户案例</span></h3>
				</div>
		
				<ul class="slides">
						<li class="slide">
							<img src="/templetes/sunon-dcj/images/c_1.jpg" alt="" />
							<div class="overl"></div>
						</li>
						<li class="slide">
							<img src="/templetes/sunon-dcj/images/c_2.jpg" alt="" />
							<div class="overl"></div>
						</li>
						<li class="slide">
							<img src="/templetes/sunon-dcj/images/c_3.jpg" alt="" />
							<div class="overl"></div>
						</li>
						<li class="slide">
							<img src="/templetes/sunon-dcj/images/c_4.jpg" alt="" />
							<div class="overl"></div>
						</li>
						<li class="slide">
							<img src="/templetes/sunon-dcj/images/c_5.jpg" alt="" />
							<div class="overl"></div>
						</li>
						<li class="slide">
							<img src="/templetes/sunon-dcj/images/c_6.jpg" alt="" />
							<div class="overl"></div>
						</li>
						<li class="slide">
							<img src="/templetes/sunon-dcj/images/c_7.jpg" alt="" />
							<div class="overl"></div>
						</li>
						<li class="slide">
							<img src="/templetes/sunon-dcj/images/c_8.jpg" alt="" />
							<div class="overl"></div>
						</li>
						<li class="slide">
							<img src="/templetes/sunon-dcj/images/c_9.jpg" alt="" />
							<div class="overl"></div>
						</li>
						<li class="slide">
							<img src="/templetes/sunon-dcj/images/c_10.jpg" alt="" />
							<div class="overl"></div>
						</li>
						<li class="slide">
							<img src="/templetes/sunon-dcj/images/c_11.jpg" alt="" />
							<div class="overl"></div>
						</li>
						<li class="slide">
							<img src="/templetes/sunon-dcj/images/c_12.jpg" alt="" />
							<div class="overl"></div>
						</li>
						<li class="slide">
							<img src="/templetes/sunon-dcj/images/c_13.jpg" alt="" />
							<div class="overl"></div>
						</li>
						<li class="slide">
							<img src="/templetes/sunon-dcj/images/c_14.jpg" alt="" />
							<div class="overl"></div>
						</li>
						<li class="slide">
							<img src="/templetes/sunon-dcj/images/c_15.jpg" alt="" />
							<div class="overl"></div>
						</li>
						<li class="slide">
							<img src="/templetes/sunon-dcj/images/c_16.jpg" alt="" />
							<div class="overl"></div>
						</li>
						<li class="slide">
							<img src="/templetes/sunon-dcj/images/c_17.jpg" alt="" />
							<div class="overl"></div>
						</li>
						<li class="slide">
							<img src="/templetes/sunon-dcj/images/c_18.jpg" alt="" />
							<div class="overl"></div>
						</li>
						<li class="slide">
							<img src="/templetes/sunon-dcj/images/c_19.jpg" alt="" />
							<div class="overl"></div>
						</li>
						<li class="slide">
							<img src="/templetes/sunon-dcj/images/c_20.jpg" alt="" />
							<div class="overl"></div>
						</li>
				</ul>
			
	</div>
	<!--****************-->
	<!-- END CLIENTS ROTATOR -->
	<!--****************-->

  </div>
  <!---END: CLIENTS ROTATOR ## -->
</div>
<!-- END MAIN WRAPPER-->
<%= render file: 'public/templetes/sunon-dcj/_footer.html' %>
<!--[END] MAIN WRAPPER-->
</div>

<!-- [[foot start]] -->
<!-- Le javascript
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script type="text/javascript" src="/templetes/sunon-dcj/assets/js/jquery.js"></script>
<script type="text/javascript" src="/templetes/sunon-dcj/assets/js/modernizr.custom.28468.js"></script>
<script src="/templetes/sunon-dcj/assets/js/bootstrap-transition.js" type="text/javascript"></script> 
<script src="/templetes/sunon-dcj/assets/js/bootstrap-alert.js" type="text/javascript"></script> 
<script src="/templetes/sunon-dcj/assets/js/bootstrap-modal.js" type="text/javascript"></script> 
<script src="/templetes/sunon-dcj/assets/js/bootstrap-dropdown.js" type="text/javascript"></script> 
<script src="/templetes/sunon-dcj/assets/js/bootstrap-scrollspy.js" type="text/javascript"></script> 
<script src="/templetes/sunon-dcj/assets/js/bootstrap-tab.js" type="text/javascript"></script>
<script src="/templetes/sunon-dcj/assets/js/bootstrap-tooltip.js" type="text/javascript"></script> 
<script src="/templetes/sunon-dcj/assets/js/bootstrap-popover.js" type="text/javascript"></script> 
<script src="/templetes/sunon-dcj/assets/js/bootstrap-button.js" type="text/javascript"></script> 
<script src="/templetes/sunon-dcj/assets/js/bootstrap-collapse.js" type="text/javascript"></script> 
<script src="/templetes/sunon-dcj/assets/js/bootstrap-carousel.js" type="text/javascript"></script> 
<script src="/templetes/sunon-dcj/assets/js/bootstrap-typeahead.js" type="text/javascript"></script> 
<script src="/templetes/sunon-dcj/assets/js/bootstrap-affix.js" type="text/javascript"></script> 
<script src="/templetes/sunon-dcj/assets/js/application.js" type="text/javascript"></script> 
<script type="text/javascript" src="/templetes/sunon-dcj/assets/js/jquery.easing.js"></script>
<script src="/templetes/sunon-dcj/assets/js/superfish.js" type="text/javascript"></script>
<script src="/templetes/sunon-dcj/assets/js/jquery.prettyPhoto.js" type="text/javascript"></script>
<script src="/templetes/sunon-dcj/assets/js/jquery.ui.totop.js" type="text/javascript"></script> 
<script type="text/javascript" src="/templetes/sunon-dcj/assets/js/jquery.mousewheel.js"></script>
<script src="/templetes/sunon-dcj/assets/js/jquery.flexslider-min.js" type="text/javascript"></script> 
<script type="text/javascript" src="/templetes/sunon-dcj/assets/js/jquery.cslider.js"></script>
<script type="text/javascript" src="/templetes/sunon-dcj/assets/js/switcher.js"></script>
<script type="text/javascript" src="/templetes/sunon-dcj/assets/js/jquery-hover-effect.js"></script>
<script src="/templetes/sunon-dcj/assets/js/custom.js" type="text/javascript"></script>

<!-- SLIDER -->
<script type="text/javascript">
	jQuery(document).ready(function($){

		$('#da-slider').cslider({
			autoplay	: true,
			bgincrement	: 50
		});

	});
</script>	
<!--END: SLIDER -->

<!--PORTFOLIO SLIDER -->
<script>
  // Can also be used with jQuery(document).ready()
  jQuery(window).load(function() {
  jQuery('.portfolio_rotator').flexslider({
	animation: 'slide',
	animationLoop: false,
	useCSS: false,
	controlNav: false,
	controlsContainer: '.portfolio-controls',
	easing: 'easeInOutSine',
	animationSpeed:'500',
	touch: true,
	minItems: 1,
	maxItems: 30,
	mousewheel:false,
	pauseOnHover:true,
	itemWidth:170,
	itemMargin: 30,
	move:1,

	
  });
});
  
</script>

<!--END: SLIDER -->

<!--CLIENT SLIDER -->
<script>
  // Can also be used with jQuery(document).ready()
  jQuery(window).load(function() {
  jQuery('.clients_rotator_widget_wrap').flexslider({
	animation: 'slide',
	animationLoop: false,
	useCSS: false,
	controlNav: false,
	controlsContainer: '.flex-controls-cl',
	easing: 'easeInOutSine',
	animationSpeed:'200',
	touch: true,
	minItems: 1,
	maxItems: 30,
	itemWidth: 170,
	itemMargin: 30,
	mousewheel:false,
	pauseOnHover:true,
	move:5,
  });
});
  
</script>


<!--END: SLIDER -->
<!-- [[foot end]] -->


    