
<!--START MAIN-WRAPPER--> 
<div class="main-wrapper">
	<%= render file: 'public/templetes/sunon-dcj/_header.html' %> 
 	<!-- [[main start]] --> 
		<!-- PAGE HEADER -->
		<div class="page-header">
			<div class="shine">
				<div class="container">
					<div class="row-fluid">
						<div class="span12">
							<div class="row-fluid">
								<div class="span12">
									<h1>Project single title!</h1>
									<!-- BREADCRUMB -->
									<ul class="breadcrumb">
									  <li><a href="#">Home</a> <span class="divider">&rarr;</span></li>
									  <li class="active">Awesome project! Portfolio single  title!</li>
									</ul>
									<!--END: BREADCRUMB -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- PAGE HEADER -->
		
		<!-- ################ -->
    <!-- CONTENT CONTAINER-->
    <!-- ################ -->
		<div class="container">
			<div class="row-fluid">
				<!-- SLIDER SIDE -->
				<div class="span8">
					<%= raw page.cotent %>
    			
				</div>
				<!-- END: SLIDER SIDE -->
				<!-- PORTFOLIO ASIDE -->
				<div class="span4">
					<!-- TITLE -->
					<h2 class="folio-title"><%= @page.title %></h2>

					<!-- PARAGRAPH -->
					<p>
						<%= @page.description %>
					</p>
					<!-- END PARAGRAPH -->
					<!-- DEVIDER LINE -->
					<div class="no-color-line-no-border3"></div>
					<hr class="half2"/>
					<!-- ACTION BUTTON -->
					<a class="btn btn-success btn-large btn-block" href="#" title="">现在预定</a>
					<!-- END ACTION BUTTON -->
				</div>
				<!-- PORTFOLIO ASIDE -->
			</div>
		</div>
		<!-- ################ -->
		<!--END: CONTENT CONTAINER-->
		<!-- ################ -->
		<!-- [[main end]] --> 

	<%= render file: 'public/templetes/sunon-dcj/_footer.html' %> 
</div>
<!-- END: MAIN-WRAPPER-->

