                  
<!--START MAIN-WRAPPER--> 
<div class="main-wrapper">
	<%= render file: 'public/templetes/sunon-dcj/_header.html' %> 
 	<!-- [[main start]] --> 
		<!-- PAGE HEADER -->
		<div class="page-header">
			<div class="shine">
				<div class="container">
					<div class="row-fluid">
						<div class="span12">
							<div class="row-fluid">
								<div class="span12">
									<h1>Project single title!</h1>
									<!-- BREADCRUMB -->
									<ul class="breadcrumb">
									  <li><a href="#">Home</a> <span class="divider">&rarr;</span></li>
									  <li class="active">Awesome project! Portfolio single  title!</li>
									</ul>
									<!--END: BREADCRUMB -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- PAGE HEADER -->
		
		<!-- ################ -->
    <!-- CONTENT CONTAINER-->
    <!-- ################ -->
		<div class="container">
			<div class="row-fluid">

				<%= raw @page.content %>
				<!-- PORTFOLIO ASIDE -->
			</div>
		</div>
		<!-- ################ -->
		<!--END: CONTENT CONTAINER-->
		<!-- ################ -->
		<!-- [[main end]] --> 

	<%= render file: 'public/templetes/sunon-dcj/_footer.html' %> 
</div>
<!-- END: MAIN-WRAPPER-->

<script>
  $(function () {
    $('#myTab a:last').tab('show')
  })
</script>
